@import "tailwindcss";

/* Global font for the whole app */
body {
  font-family: "DM Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

.font-nunito {
  font-family: "Nunito", sans-serif;
}
